POSTGRES_DB=humtune
POSTGRES_USER=humtune
POSTGRES_PASSWORD=humtune
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/humtune
SPRING_DATASOURCE_USERNAME=humtune
SPRING_DATASOURCE_PASSWORD=humtune
